<?
/** config.inc
 *
 * Site specific configuration examle for the sage scripts
 *
 *
 */
 
date_default_timezone_set('GMT');      // adapt if you need

// configuration of ODBC connecter to Sage 50
$odbc['dsn'] = "SageLine50v19";
$odbc['user'] = "manager";
$odbc['pass'] = "";

// mysql destination
$mysql['host'] = "localhost";
$mysql['user'] = "root";
$mysql['pass'] = "";
$mysql['dbname'] = "sagetest";



?>
